{% extends 'Musicapp/main.html' %}

{% block titulo %}
    Cambiar Password
{% endblock %}

{% block contenido %}

<br>
<br>
<br>
<br>
<br>

<div class="container text-center">
    <h1>Cambio de Contraseña</h1>
</div>

<div class="container">
    <form style="width: 60vw; margin-left : 8vw;" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="container text-center">
        <button type="submit" class="btn btn-primary">Cambiar</button>
        </div>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}